<table>
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>update</th>
            <th>delete</th>
        </tr>
    </thead>
    <tbody>
    {% for i in data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.name}}</td>
            <td><a href="{{i.get_update_url}}">update</a></td>
            <td><form method="post" action=""><input type="submit" value="delete"></form></a></td>
        
        </tr>
        {% endfor %}
    </tbody>
</table>