{% extends 'base.html' %}
{% block cardtitle %}<div style="display:flex;justify-content:space-between">
  <div class="">{{heading}}</div>
  <div class=""><a href="./create/" class="btn btn-primary btn-sm ">new</a></div>
</div>{% endblock cardtitle %}
{% block content %}
<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover" id="dataTable">
    <thead>
      <tr>
        <th>id</th>
        <th>photo</th>
        <th>name</th>
        <th>price</th>
        <th>category</th>
        <th>update</th>
        <th>delete</th>
      </tr>
    </thead>
    <tbody>
      {% for i in data %}
      <tr>
        <td>1</td>
        <td>
          <div class="" height="20"><img src="{{i.get_img }}" alt="image" height="20" width="20" /></div>
        </td>
        <td>{{i.name}}</td>
        <td>{{i.price }}</td>
        <td>{{i.category.name}}</td>
        <td><a href="{% url 'rest-item-update' i.id %}" class="btn btn-sm btn-info">update</a></td>
        <td>
          <form method="post" action="{% url 'item-delete' i.id%}">
            {% csrf_token %}<input type="submit" value="delete" class="btn btn-sm btn-danger"></form></a>
        </td>

      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock content %}