{% extends 'base.html' %} {% comment %}##########{% endcomment %} {% comment %}
#### {% endcomment %}
{% block cardtitle %}<div style="display:flex;justify-content:space-between">
    <div class="">{{heading}}</div>
    <div class=""><a href="./create/" class="btn btn-primary btn-sm ">new</a></div>
</div>{% endblock cardtitle %}
{% block content %}
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover" id="dataTable">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>

                <th>update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
                <td>{{forloop.counter}}</td>

                <td>{{i.name}}</td>
                <td>
                    <a href="{{i.get_update_url}}" class="btn btn-sm btn-info font-weight-bold">update</a>
                </td>
                <td>
                    <form method="post" action="{% url 'locdelete' i.pk %}">
                        {% csrf_token %}
                        <input type="submit" value="delete" class="btn btn-sm btn-danger">
                    </form></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}